body { font-family: "Montserrat", sans-serif;
color: #111;
background-color: #fafafa;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.container {
    width: 1168px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
}

button {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

address {
    font-style: normal;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
}

.title-accent {
    color: #fd9222;
}

/* --------------------- header --------------------*/

header {
    padding: 24px 0 32px;
}

.header-container {
    display: flex;
}

.header-menu {
    display: flex;
    margin-right: 90px;
    justify-content: space-between;
    flex-grow: 1;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111;
    display: flex;
    gap: 4px;
    

}

.logo-accent {
    font-style: italic;
}
.header-menu-list {
    display: flex;
    gap: 24px ;
}

.header-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    cursor: pointer;
}

.header-soc-list {
display: flex;
gap: 14px;

}

.header-item-link:hover,
.header-item-link:focus,
.header-item-link:active {
   color: #fd9222;
}



/* --------------------------------------------------*/
/* --------------------- section 1 hero --------------*/
.hero {
padding-bottom: 80px;
}

.hero-wrap {
    background-color: rgba(17, 17, 17, 0.6);
    border-radius: 30px;
    padding: 381px 40px 40px;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #ffffff;
    width: 484px;
    margin-bottom: 32px;
}

.hero-btn-wrap {
display: flex;
align-items: center;
}

.hero-button {
    background-color: #fd9222;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    border-radius: 100px;
    border: none;
    width: 144px;
    height: 45px;
    margin-right: 14px;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #fcf1e0;
    color: #fd9222;
}

.hero-link-made {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 100px;
    text-align: center;
    background-color: transparent;
    padding: 14px 40px;
}

.hero-link-made:hover,
.hero-link-made:focus,
.hero-link-made:active {
    border: 1px solid #fd9222;
    color: #fd9222;
}

.scroll {
    display: flex;
    align-items: center;
    margin-left: auto;
   
}

.hero-link-scroll {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.03em;
        color: #ffffff;
        display: flex;
        gap: 4px;
   }

/* --------------------------------------------------*/
/* ------------- section 2 Benefits------------------*/

.benefits {
    background: #1e1823;
    padding: 50px 0;
}

.visually-hidden {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.benefits-list {
    display: flex;
    gap: 88px;
    padding: 0 18px;
}

.benefits-list-item {
    width: calc((100% - 176px) / 3);
}

.benefits-subtitle {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
}
.benefits-text {
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* --------------------------------------------------*/
/* --------------- Section 3 Taste -------------------*/

.taste {
    padding: 120px 0;
}

.taste-title {
    max-width: 412px;
    margin: 0 auto 28px;

} 

.taste-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111111;
    max-width: 486px;
    margin: 0 auto 50px;
}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.taste-item {
    width: calc((100% - 96px) / 4);
    border-radius: 15px;
    padding: 28px 23px;
}

.taste-item:nth-child(4n + 1) {
    color: #fff;
    background-color: #fd9222;
}

.taste-item:nth-child(2n) {
  color: #111111;
    border: 1px solid #fd9222;
}

.taste-item-image {
    margin-bottom: 32px;
}

.taste-item:nth-child(4n+3) {
    color: #fff;
    background-color: #1e1823;
}

.taste-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
/* --------------------------------------------------*/
/* --------------- section 4 made -------------------*/

.made {
padding-bottom: 60px;
}

.made-title {
    margin-bottom: 50px;
}
.made-content {
    display: flex;
    gap: 20px;
}
.made-image {
    border-radius: 15px;
}

.made-content-text {
    display: flex;
    flex-direction: column;
    padding: 32px;

}

.made-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #111111;
    margin-bottom: 28px;
    max-width: 350px;
}

.made-list {

}
.made-item {
max-width: 409px;
}

.made-item:not(:last-child) {
margin-bottom: 24px;
}

.made-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111111;
    }

/* --------------------------------------------------*/
/* --------------- section 5 products ---------------*/

.products {
   padding-top: 60px;
   padding-bottom: 60px;
}

.products-title {
    margin-bottom: 50px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 18px;
}

.products-item {
    background-color: #ffffff;
    text-align: center;
    width: calc((100% - 54px) / 4);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    padding: 32px 20px;
}

.products-image {
    margin: 0 auto 8px;
}

.products-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 2px;
}

.products-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
}

.products-btn {
    font-weight: 600;
    font-size: 14px;
    color: #111111;
    background-color: #fafafa;
    border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 100px;
        width: 94px;
        height: 33px;
        cursor: pointer;
}

/* --------------------------------------------------*/
/* --------------- section 6 sellers-----------------*/

.sellers {
    padding-top: 60px;
    padding-bottom: 60px;
}

.sellers-title {
    margin-bottom: 50px;
}

.sellers-list {
   display: flex;
   gap: 16px;
}

.sellers-item {
    background-color: #ffffff;
    text-align: center;
    width: calc((100% - 32px) / 3);
    border-radius: 15px;
} 

.sellers-image {}

.sellers-content {
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    border-left: 1px solid rgba(17, 17, 17, 0.1);
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    padding: 28px 0;
}

.sellers-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
    text-align: center;
   
}

/* --------------------------------------------------*/
/* -------------- section 7 revievs -----------------*/

.loved {
    padding-top: 60px;
    padding-bottom: 60px;
}

.loved-title {
    margin-bottom: 50px;
}

.title-list {
    display: flex;
    margin-bottom: 50px;
    gap: 28px;
}

.loved-item {
    text-align: center;
width: calc((100% - 56px) / 3);
}

.loved-images {
        margin: 0 auto 18px;
}

.loved-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111;
    margin-bottom: 24px;
}

.loved-text {
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    max-width: 312px;
    margin: 0 auto;
}

.loved-btn {
    border: 1px solid #fd9222;
    border-radius: 100px;
    font-weight: 600;
    font-size: 18px;
    color: #111;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    padding: 14px 40px;

}

.loved-btn:hover,
.loved-btn:focus,
.loved-btn:active {
    background-color: #fd9222;
    color: #ffffff;
}
/* --------------------------------------------------*/
/* --------------------- footer --------------------*/

.footer {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-top {
display: flex;
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
padding-bottom: 50px;
}


.footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color:#ffffff;
    max-width: 300px;
    margin-right: 510px;
   
}

.title-accent {
    color: #fd9222;
}

.footer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #ffffff;
    margin-bottom: 14px;
}
.footer-soc-container {
margin-right: 50px;
}

.footer-soc-list{
    display: flex;
    gap: 14px;
}

.footer-soc-item {}

.footer-soc-link {}

.footer-soc-icon {}

.footer-contacts {
    margin-right: 0;
}

.footer-contacts-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 4px;
}

.footer-contacts-link:last-child {
    margin-bottom: 0;

}

.footer-bottom {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
}

.footer-menu {}

.footer-menu-list {
    display: flex;
    gap: 24px;
}



.footer-list-item {}

.footer-item-link {
font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
    margin-right: ;
}

.footer-item-link:hover,
.footer-item-link:focus,
.footer-item-link:active {
    color: #fd9222;
}


.footer-forma {}

.footer-input {
border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 13px 24px;
    background-color: transparent;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.3);
        width: 313px;
}


.footer-btn {
    background-color: #fd9222;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    padding: 18px 32px;
  
}

.footer-btn:hover,
.footer-btn:focus,
.footer-btn:active {
    background-color: #fcf1e0;
    color: #fd9222;
}